.bee-detail {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: hsla(4, 82%, 67%, 0.827);
  border-radius: 10px;
  margin-top: 5vh;
  padding: 2vh 4vw 2vh 4vw;
}

.bee-detail-title {
  font-family: 'Londrina Solid', cursive;
  font-size: 4vh;
  text-align: center;
  padding: 0;
}

.bee-detail-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Link {
  color: white;
}

.bee-details {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.bee-detail-label {
  font-weight: bold;
}

.bee-detail-images {
  display: flex;
  gap: 2vw;
  filter: drop-shadow(1px 1px 2px #000007);
}

.bee-detail-image {
  width: 25vw;
  margin: 0 0 2vh 0;
  border: 1px solid black;
  border-radius: 10px;
}
