header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 10vw 1vh 10vw;
  background-color: var(--cg-blue);
  color: var(--light-yellow);
}

a:visited {
  color: white;
}

.logo {
  width: 15vw;
}
