.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.resource-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resources-image {
  width: 15vw;
  margin: 1vw;
}
