@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Londrina+Solid&display=swap');

/* font-family: 'Comfortaa', cursive;
font-family: 'Londrina Solid', cursive; */

:root {
  --cg-blue: #0081a7ff;
  --verdigris: #00afb9ff;
  --light-yellow: #fdfcdcff;
  --peach-puff: #fed9b7ff;
  --bittersweet: #f07167ff;
}

body {
  margin: 0;
  background-color: rgba(254, 217, 183, 0.233);
}

.app {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

button {
  border: none;
  background-color: var(--cg-blue);
  font-size: 2vh;
  padding: 1vh;
  color: white;
  border-radius: 5px;
  font-family: 'Londrina Solid', cursive;
}

button:hover {
  transform: scale(1.1);
}

button a {
  color: white;
}

button a:visited {
  color: white;
}

.loader {
  font-family: 'Londrina Solid', cursive;
  margin: 10vh;
}
